* {
  margin:             0;
  padding:            0;
  box-sizing:         border-box;
}

body {
  width:              100vw;   
  height:             100vh; 
  overflow:           scroll;
  padding:            10px;
  display:            flex;
  align-items:        center;
  justify-content:    center;
}

h1, h2 {
  margin-bottom:        30px;
  text-align:           center;
}

.left{
  position:             absolute;
  top:                  10%;
  left:                 10%;
}

.right {
  position:             absolute;
  top:                  10%;
  right:                10%;
}

img {
  width:                80%;
  height:               80%;
}

input {
  display:              block;
  width:                120px;
  margin:               5px;
  padding:              5px;
}

button {
  width:                100px;
  height:               100px;
  border:               solid 2px #000;
}

  button.empty {
    background-image:     url("images/frame.jpg");
  }

  button.fill {
    background-color:     #61dafb;
    background-image:     url("images/react.png");
    background-repeat:    no-repeat;
    background-size:      80%;
    background-position:  center;
  }

